body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header a {
  color: rgb(46, 45, 45);
}
header {
  background-color: white;
}
.middle-nav {
  color: black;
  padding: 10px 35%;
}
.middle-nav a {
  padding: 10px;
  text-decoration: none;
}
.right-nav {
  margin-top: 10px;
  width: 15%;
  float: right;
}
.right-nav a {
  text-decoration: none;
  margin: 10px;
}
.right-nav .log {
  background-color: black;
  color: white;
  padding: 7px;
  border-radius: 25px;
}
.right-nav .sing {
  padding: 5px;
  border-radius: 25px;
  border: solid rgb(110, 108, 108);
}
a .question-mark {
  padding: 5px;
  border-radius: 50px;
  border: solid black;
}
.left-nav a {
  text-decoration: none;

  width: 20%;
  float: left;
}
.gpt-icon {
  margin-top: 4px;
  margin-left: 5px;
  width: 30px;
  float: left;
}
.ChatGPT {
  font-size: 20px;
  margin-top: 9px;
  margin-left: 25px;
  color: black;
}
.arrow {
  color: rgb(112, 111, 111);
}
